{% extends "tarefa/menu.html" %}

{% block content %}
<div class="container">
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Concluida</th>
            <th scope="col">Data_Criacao</th>
            <th scope="col">Data_Conclusao</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Estudar</td>
            <td>Concluir o capítulo 5 do livro de Python</td>
            <td>Sim</td>
            <td>01/09/2026</td>
            <td>01/09/2026</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Exercitar</td>
            <td>Ir ao ginásio por 30 minutos</td>
            <td>Sim</td>
            <td>01/09/2026</td>
            <td>01/09/2026</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Jogar</td>
            <td> Jogar video game por 1 hora</td>
            <td>Não</td>
            <td>01/09/2026</td>
            <td>Pendente</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
